html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: green; }

nav {
  width: 100%; }
  nav ul > li {
    text-decoration: none;
    display: block;
    width: 10%; }
