$colors-list: #6b889d, #6b739d, #7a6b9d;

.quotes-container {
	position: relative;
}
.quotes-container span {
	opacity: 0;
	display: block;
	left: 0;
	top: 0;
	height: 60px;
	position: absolute;
	text-align: center;
}
@keyframes rotateWordsFirst {
	0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
	8% { opacity: 1; height: 60px; }
	19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
	100% { opacity: 0; height: 0px;}
}

@for $i from 1 through 3 {
	.quotes-container span:nth-child(#{$i}) {
		animation-delay: #{($i*3)}s;
		color: nth($colors-list, $i);
	}
}
.quotes-container span{
	animation: rotateWordsFirst 8s linear infinite 0s;
}
