
@import "site/bourbon/bourbon";
@import "site/neat/neat";


$bp-iphone6plus: 'min-width: 375px';


body {
	background-color: red;
}
nav {
	width: 100%;
	li {
		text-decoration: none;
		display: block;
		width: 10%;
	}

}
