
@import "site/bourbon/bourbon";
@import "site/neat/neat";
@import "site/base/base";
//@import "site/scss/partials/_quotes";
@import url(https://fonts.googleapis.com/css?family=Freckle+Face);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://www.google.com/fonts#UsePlace:use/Collection:Bree+Serif);


@font-face {
	font-family: 'Freckle Face', cursive;
	font-family: 'Dosis', sans-serif;
	font-family: 'Bree Serif', sans-serif;
}
$bp-iphone6plus: 'min-width: 414px';
$ipadmini: new-breakpoint(min-width 768px);
$iphone4: new-breakpoint(min-width 320px);

body {
	@include outer-container(80%);
}
header {
	@include span-columns(12);
	margin: 25px 0;
	img {
		display: block;
		margin: 0 auto;
		height: 50px;
		width: 50px;
		@include media($ipadmini) {
			height: 100px;
			width: 100px;
		}
	}
	h1 {
		font-family: 'Freckle Face';
		font-size: 4em;
		@include media($ipadmini) {
			font-size: 7em;
		}
		margin: 0;
		text-align: center;
	}
}
section.intro {
	@include span-columns(12);
	padding: 30px;
	p {
		font-family: 'Dosis';
		font-size: 1.5em;
		text-align: center;
	}
	button {
		font-size: 1.5em;
		display: block;
		margin: 0 auto;
		//@include shift(2 of 12);
		img {
			height: 35px;
			width: 35px;
			vertical-align: middle;
			position: relative;
			right: 15px;
		}
		div {
			vertical-align: middle;
		}
	}

}
section.features1 {
	margin-top: 50px;
	@include span-columns(12);
	img {

	}
	p {
		margin-top: 50px;
		font-family: 'Dosis';
		font-size: 1.5em;
		text-align: center;
	}
}
section.userquotes {
	@include span-columns(12);
	margin: 50px auto;
	h2 {
		text-align: center;
	}
	h2 span {
		display: block;
		font-family: 'Dosis';
		font-size: 1.5em;
		text-align: center;
		font-style: italic;
	}
	div.quotes-container {
		margin-top: 15px;
		span {
			font-family: "Bree Serif";
			font-size: 2em;
			font-style: italic;
			text-align: center;
			display: none;
		}
	}

}
section.appstore {
	margin-top: 200px;
	margin-bottom: 50px;
	@include span-columns(12);
	h2 {
		text-align: center;
		margin-bottom: 15px;
	}
	img {
		@include shift(1);
		@include media($iphone4) {
			display: block;
			margin: 15px auto;
		}
	}

}
